.header .nav-item-child {
	color:#515769;
}
i.icon {
	font-size: 50px;
}
.service {
	text-align: center;
}
footer {
	width:100%;
	position: fixed;
	/*top: calc(100% - 101px);*/
	bottom: 0px;
}

footer .content{
padding-bottom: 30px;
} 

.content-lg {
  padding-top: 10%;
  padding-bottom: 100px;
}

.glyphicon {
	padding-right:5px;
}

.dropdown .btn {
	border: none;
	margin-top: 32px;
}
.logo1 {
	font-size: 20px;
}
.logo_color {
	color:#17bed2;
	font-size: 20px;
}
#sel1 {
	color:#17bed2;
	background-color: transparent;
	width: 45%;
}
.log_item {
	margin-top: 34px;
}
.html_img {
	margin-top: 30%;
}

.text_html {
	margin-top: 30%;
}
.text_html p {
	font-size: 18px;
}
.item_btn {
	padding-top: 7%;
	padding-left: 20%;
}

.css_img{
	margin-top: 30%;
}

.question_form {
	margin-top: 10%;
	font-size: 20px;
	margin-left: 35%;

}

.question_form  .btn { 
	margin-left: 35%;
}

.js_img {

}
.js_row img {
		border: 1px solid black;
	margin-top: 5px;
}