
       <!--========== FOOTER ==========-->
        <footer class="footer">
 
            <!-- Copyright -->
            <div class="content container">
                <div class="row">
                    <div class="col-xs-4">
                        <a class="logo1 color-primary fweight-600"><span class="logo_color"> አሪፍ </span>-DIYTutor</a>
                    </div>
                    <div class="col-xs-4">
                    <?php 
                        if (isset($_SESSION['id'])) {
                            echo "<a href='forum.php' class='btn btn-primary'>Forum</a>";
                        }
                     ?>

                        
                    </div>
                    <div class="col-xs-4 text-right">
                        <p class="margin-b-0"><a class="color-base fweight-700" href="http://keenthemes.com/preview/asentus/">አሪፍ-DIYTutor</a> Powered by: <a class="color-base fweight-700" href="http://www.keenthemes.com/">Dedebit Club</a></p>
                    </div>
                </div>
                <!--// end row -->
            </div>
            <!-- End Copyright -->
        </footer>
        <!--========== END FOOTER ==========-->

        <!-- Back To Top -->
        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

        <!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- CORE PLUGINS -->
        <script src="vendor/jquery.min.js" type="text/javascript"></script>
        <script src="vendor/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

        <!-- PAGE LEVEL PLUGINS -->
        <script src="vendor/jquery.easing.js" type="text/javascript"></script>
        <script src="vendor/jquery.back-to-top.js" type="text/javascript"></script>
        <script src="vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
        <script src="vendor/jquery.wow.min.js" type="text/javascript"></script>
        <script src="vendor/swiper/js/swiper.jquery.min.js" type="text/javascript"></script>
        <script src="vendor/masonry/jquery.masonry.pkgd.min.js" type="text/javascript"></script>
        <script src="vendor/masonry/imagesloaded.pkgd.min.js" type="text/javascript"></script>

        <!-- PAGE LEVEL SCRIPTS -->
        <script src="js/layout.min.js" type="text/javascript"></script>
        <script src="js/components/wow.min.js" type="text/javascript"></script>
        <script src="js/components/swiper.min.js" type="text/javascript"></script>
        <script src="js/components/masonry.min.js" type="text/javascript"></script>
    <!--     <script>
    document.getElementsByTagName('body').onload = function() {KeepFoot()};
        var element = document.getElementById('container');
        var height = element.offsetHeight;

        function KeepFoot() {
            if (height < screen.height) {
                document.getElementById("footer").style.position = "fixed";
                document.getElementById("footer").style.bottom = "0";
                document.getElementById("footer").style.left = "0";
                document.getElementById("footer").style.right = "0";
            }
        }
        </script> -->

    </body>
    <!-- END BODY -->
        <script>
        var modal = document.getElementById('modal1');
        window.onclick = function(event){
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        }
    </script>
</html>